.container {
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100%;
    padding: 0;
    gap: 16px;
    overflow: hidden;
}

.container_create {
    background-color: white;
    padding: 8px 24px;
    border-radius: 16px;
    height: 100%;
    & h1 {
        margin: 8px 0;
    }
}

.container_search {
    background-color: white;
    padding: 8px 24px;
    border-radius: 16px;
    height: 100vh;
    
}

.form_container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    & div {
        display: flex;
        flex-direction: column;
        gap: 4px;

        & input {
            border-radius: 8px;
            padding: 4px;
            border: 2px solid #6c6c6c;
            outline: none;
        }

        & select {
            border-radius: 8px;
            padding: 4px;
            border: 2px solid #6c6c6c;
            outline: none;
        }
        
        
    }
    & div {
            
        & button {
            background-color: #499fea;
            color: white;
            font-weight: bold;
            padding: 8px 0;
            border: 0;
            border-radius: 8px;
        }
    }
}

.search_container {
    height: 100%;
}

.results_container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 800px;
}
